wio-stepper {
  width: 18%;
  position: fixed;
  top: 76px;
  right: 0;
  bottom: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}

mat-vertical-stepper {
  mat-step-header {
    &.mat-vertical-stepper-header{

      padding: 12px 24px;
    }

    .mat-step-label {
      font-size: 12px;
    }
  }
}