/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$wopster-app-primary: mat-palette($mat-blue);
$wopster-app-accent: mat-palette($mat-purple, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wopster-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wopster-app-theme: mat-light-theme($wopster-app-primary, $wopster-app-accent, $wopster-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wopster-app-theme);

$base-color: #0071e0;

body, html {
  font-family: "Roboto", Helvetica, Sans-Serif;
  height: 100%;
  color: rgba(0, 0, 0, .87);
  background: #fff;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

.primary-color {
  color: $base-color
}

.mat-toolbar .action-button {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  min-width: 150px;
  height: 100%;
}
.header {
  z-index: 99;
}
.background-hero {
  background-image: url("assets/background.png");
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
}